.sidebar{
  width: 100%;
  height: 100%;
  background-color: #2B3A55;
  margin: unset;
  padding: 3rem 1.5rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  .sidebar-item{
    color: #F2E5E5;
    padding: 1.2rem 0;
  }
}
