
.container{

  width: 60%;
  background-color: #F2E5E5;
  margin: 8rem auto;
  height: 75vh;
  padding: unset;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 3fr 8fr;
  border-radius: 5px;
}
.add-btn{
  position: absolute;
  top: 5rem;
  right: 20%;
  color: #2B3A55;
  border: 1px solid #2B3A55;
  &:hover{
    background-color: #2B3A55;
    color: white;
  }
}
